[DATABASE]
postgres_host = localhost:5432
postgres_database = om
postgres_user = dbuser
postgres_password = 
mongo_host = localhost

[MISC]
entrez_email = SET_ENTREZ_EMAIL
data_directory = ~/Dropbox (UCSD SBRG)/om_data

[EXECUTABLES]
psql = /usr/local/bin/psql
rscript = /usr/bin/Rscript
r = /usr/bin/R
primer3 = ./primer3_core

