[DATABASE]
postgres_host = localhost:5432
postgres_database = ome
password =
postgres_password =
postgres_user =
user = username

[MISC]
entrez_email = SET_ENTREZ_EMAIL
home_directory = /Users/username
data_directory = /Users/username/ome/data

[EXECUTABLES]
psql = /usr/local/bin/psql
r = SET_PATH_TO_R
rscript = SET_PATH_TO_Rscript
primer3 = ./primer3_core
cufflinks = ./cufflinks
